Data madness setup

In [2]:
#Imports
import numpy as np
import pandas as pd
from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import linear_model as lm
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

# Plot settings
plt.rcParams['figure.figsize'] = (12, 9)
plt.rcParams['font.size'] = 12

In [7]:
# Load 
complete_data = pd.read_csv("athlete_events.csv")

print(complete_data.columns.values)
#1. ID - Row numbers
#2. Name - Athlete's name
#3. Sex - M or F
#4. Age - Integer
#5. Height - In centimeters
#6. Weight - In kilograms
#7. Team - Team name
#8. NOC - National Olympic Committee 3-letter code
#9. Games - Year and season
#10. Year - Integer
#11. Season - Summer or Winter
#12. City - Host city
#13. Sport - Sport
#14. Event - Event
#15. Medal - Gold, Silver, Bronze, or NA
complete_data.head(5)

['ID' 'Name' 'Sex' 'Age' 'Height' 'Weight' 'Team' 'NOC' 'Games' 'Year'
 'Season' 'City' 'Sport' 'Event' 'Medal']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
# Clean data #TODO

# maybe we replace some NaN values

# Electronic clocks only started since 1936 (we could do something with that)

In [16]:
# Functions

# Medal convertion to numeric columns
def convert_medals(data):
    types = ['NA', 'Gold', 'Silver', 'Bronze']
    
    cat_type = CategoricalDtype(categories=types)
    
    data['Medal'] = data['Medal'].astype(cat_type)
    data = pd.get_dummies(data,
                          prefix='mdl',
                          columns=['Medal'], 
                          drop_first=True)
    
    return data

In [34]:
# Order & group by queries

# Medals
Medals = convert_medals(complete_data)
Medals = Medals[['Name', 'Team', 'Games', 'Sport', 'mdl_Gold', 'mdl_Silver', 'mdl_Bronze']]

Medal_counts = Medals.groupby(['Name', 'Team', 'Games', 'Sport']).sum()
Medal_counts = Medal_counts.sort_values('Games')
Medal_counts.head(10)

                                                          mdl_Gold  \
Name                   Team    Games       Sport
Alphonse Grisel        France  1896 Summer Gymnastics            0
Evangelos Damaskos     Greece  1896 Summer Athletics             0
Anton Gdrich           Germany 1896 Summer Cycling               0
Joseph Rosemeyer       Germany 1896 Summer Cycling               0
Alexander Viggo Jensen Denmark 1896 Summer Weightlifting         1
                                           Shooting              0
                                           Gymnastics            0
                                           Athletics             0
J. Defert              France  1896 Summer Tennis                0
Joseph Welzenbacher    Germany 1896 Summer Cycling               0

                                                          mdl_Silver  \
Name                   Team    Games       Sport
Alphonse Grisel        France  1896 Summer Gymnastics              0
Evangelos Damaskos     Greece  1896 Summer Athletics               0
Anton Gdrich           Germany 1896 Summer Cycling                 1
Joseph Rosemeyer       Germany 1896 Summer Cycling                 0
Alexander Viggo Jensen Denmark 1896 Summer Weightlifting           1
                                           Shooting                0
                                           Gymnastics              0
                                           Athletics               0
J. Defert              France  1896 Summer Tennis                  0
Joseph Welzenbacher    Germany 1896 Summer Cycling                 0

                                                          mdl_Bronze
Name                   Team    Games       Sport
Alphonse Grisel        France  1896 Summer Gymnastics              0
Evangelos Damaskos     Greece  1896 Summer Athletics               1
Anton Gdrich           Germany 1896 Summer Cycling                 0
Joseph Rosemeyer       Germany 1896 Summer Cycling                 0
Alexander Viggo Jensen Denmark 1896 Summer Weightlifting           0
                                           Shooting                1
                                           Gymnastics              0
                                           Athletics               0
J. Defert              France  1896 Summer Tennis                  0
Joseph Welzenbacher    Germany 1896 Summer Cycling                 0